:root {
    --font: 'Muli', sans-serif;
    --font-bold: "Poppins", "Open Sans Pro", Arial, sans-serif;
    --line-height: 1.8;
}

.responsive-lead {
    line-height: 1.8;
    font-size: 1.2rem;
}
.responsive-p {
    line-height: 1.8;
    font-size: 1.1rem;
}

.font-bold {
    font-family: var(--font-bold);
    font-weight: 700;
    line-height: var(--line-height);
}

.display-0 {
    font-size: 7rem;
    letter-spacing: .01rem;
    margin-top: 10rem;
}

@media only screen and (min-width: 1440px) {
    .responsive-lead {
        font-size: 1.4rem;
    }
    .responsive-p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .responsive-lead {
        font-size: 1.1rem;
    }
    .responsive-p {
        font-size: inherit;
    }
    .display-0 {
        font-size: 4rem;
    }
}