body {
    margin: 0;
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background:rgba(23, 162, 184, 0.5);
}
::selection {
    background: rgba(23, 162, 184, 0.5);
}
