nav {
    background-color: rgba(0, 0, 0, 0.75) !important;

    a {
        color: #fff;
        transition: all .2s;
        text-decoration: none;

        &:hover {
            color: #aaa;
            text-decoration: none;
        }
    }

    .nav-item, .nav-btn {
        padding: .5rem 1rem !important;
    }
}
